[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".bash-it"]
	path = .bash-it
	url = git://github.com/revans/bash-it.git
[submodule ".emacs-it/clojure-mode"]
	path = .emacs-it/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
