[user]
	name = lite
	email = litekok@gmail.com
[core]
	excludesfile = /Users/dli/.gitignore
	ignorecase = false
	quotepath = false
[color]
	status = auto
	diff = auto
	branch = auto
[branch "master"]
	merge = master
[alias]
    vimdiff = difftool -y -t vimdiff -R
[github]
	user = lite
[push]
	default = current
[pager]
      diff =
