[user]
	name = lite
	email = litekok@gmail.com
[core]
	excludesfile = /Users/dli/.gitignore
	ignorecase = false
	quotepath = false
[color]
	status = auto
	diff = auto
	branch = auto
[branch]
	autosetuprebase = always
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    vimdiff = difftool -y -t vimdiff -R
[push]
	default = current
[pager]
    diff =
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = lite
	password = 7u8i9o0P
