[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".bash-it"]
	path = .bash-it
	url = git://github.com/revans/bash-it.git

[submodule ".emacs.d/emacs24-starter-kit"]
	path = .emacs.d/emacs24-starter-kit
	url = git://github.com/eschulte/emacs24-starter-kit.git
